div
{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari /
    -moz-backface-visibility:hidden; / Firefox */
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

.logoHeader{
	text-align: center;
	background-color: #af2812;
}

.titileHeader {
	background-color: #f5f7fa;
}

.bottomNav{
	background-color: #af2812;
	height:59px;
}
